<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCCON Site Status Summary</title>
</head>
<body>
    <h1>TCCON Site Status Summary as of {{ date }} (UTC)</h1>

    {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}

    {% if user.is_authenticated %}
    <p>You are logged in as <strong>{{ user.get_username }}</strong>.<br>
       <a href="{% url 'logout' %}?next={% url 'opstat:index' %}">Log out</a></p>
    {% else %}
    <p>You are not logged in.<br>
       <a href="{% url 'login' %}?next={% url 'opstat:index' %}">Log in.</a></p>
    {% endif %}

    <p>You can access the machine parsable version <a href="{% url 'opstat:car' %}">here</a></p>

    <table>
        <thead>
        <th></th>
        <th></th>
        <th>Site ID</th>
        <th>Site Name</th>
        <th>Operational?</th>
        <th>Description/reason</th>
        <th>Last updated by</th>
        <th>Last updated on</th>
        </thead>
        <tbody>
            {% for status in site_info %}
            <tr>
            <td><a href="{% url 'opstat:submitupdate' site_id=status.siteid %}">Update</a></td>
            <td><a href="{% url 'opstat:history' site_id=status.siteid %}">History</a> </td>
            <td>{{ status.siteid }}</td>
            <td>{{ status.sitename }}</td>
            <td>{{ status.pretty_status }}</td>
            <td>{{ status.description }}</td>
            <td>{{ status.username }}</td>
            <td>{{ status.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>