<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCCON Site Status Summary</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/opstat.css' %}">
</head>
<body>
    <h1>TCCON Site Status Summary as of {{ date }} (UTC)</h1>

    {% if show_news %}
    <div class="news">
        <div class="head">News about this page</div>
        <div class="msg">{{ news.message }}</div>
        <div class="author">-- {{ news.author }}, {{ news.date }} UTC</div>
    </div>
    {% endif %}

    {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}

    {% if user.is_authenticated %}
    <p>You are logged in as <strong>{{ user.get_username }}</strong>.<br>
       <a href="{% url 'logout' %}?next={% url 'opstat:index' %}">Log out</a></p>
    {% else %}
    <p>You are not logged in.<br>
       <a href="{% url 'login' %}?next={% url 'opstat:index' %}">Log in.</a></p>
    {% endif %}

    <p>A <a href="{% url 'opstat:car' %}">machine parsable version</a> is available, but we recommend
        <a href="{% url 'opstat:api_docs' %}">using our JSON API instead.</a></p>
    <p>A <a href="{% url 'opstat:all_history' %}">list of recent status updates</a> is available as well.</p>

    <table class="pretty-table">
        <thead>
        <th></th>
        <th></th>
        <th>Site ID</th>
        <th>Site Name</th>
        <th>Operational?</th>
        <th>Description/reason</th>
        <th>Last updated by</th>
        <th>Last updated on</th>
        </thead>
        <tbody>
            {% for status in site_info %}
            <tr>
            <td><a href="{% url 'opstat:submitupdate' site_id=status.siteid %}">Update</a></td>
            <td><a href="{% url 'opstat:history' site_id=status.siteid %}">History</a> </td>
            <td>{{ status.siteid }}</td>
            <td>{{ status.sitename }}</td>
            <td>{{ status.pretty_status }}</td>
            <td>{{ status.description }}</td>
            <td>{{ status.username }}</td>
            <td>{{ status.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>