<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit public metadata for {{ site_id }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/opstat.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'js/formset.js' %}"></script>
    <script type='text/javascript'>
        // Creator add/remove/move buttons //
        $(document).on('click', '.add-creator-row', function(e){
            e.preventDefault();
            cloneMore('.creator', 'creatorsForm', $(this));
            return false;
        });

        $(document).on('click', '.remove-creator-row', function(e){
            e.preventDefault();
            deleteForm('creatorsForm', '.creator', $(this));
            return false;
        });

        $(document).on('click', '.shift-creator-up', function(e){
            e.preventDefault();
            moveForm('creatorsForm', '.creator', $(this), -1);
            return false;
        });

        $(document).on('click', '.shift-creator-down', function(e){
            e.preventDefault();
            moveForm('creatorsForm', '.creator', $(this), 1);
            return false;
        });

        $(document).ready(function() {
            console.log('Ready');
            updateAllChildrenIndices('.creator', 'creatorsForm');
            return false;
        });

        // Contributor add/remove/move buttons //
        $(document).on('click', '.add-contributor-row', function(e){
            e.preventDefault();
            cloneMore('.contributor', 'contributorsForm', $(this));
            return false;
        });

        $(document).on('click', '.remove-contributor-row', function(e){
            e.preventDefault();
            deleteForm('contributorsForm', '.contributor', $(this));
            return false;
        });

        $(document).on('click', '.shift-contributor-up', function(e){
            e.preventDefault();
            moveForm('contributorsForm', '.contributor', $(this), -1);
            return false;
        });

        $(document).on('click', '.shift-contributor-down', function(e){
            e.preventDefault();
            moveForm('contributorsForm', '.contributor', $(this), 1);
            return false;
        });

        $(document).ready(function() {
            console.log('Ready');
            updateAllChildrenIndices('.contributor', 'contributorsForm');
            return false;
        });

        // Related ID add/remove/move buttons //
        $(document).on('click', '.add-relatedId-row', function(e){
            e.preventDefault();
            cloneMore('.relatedId', 'relatedIdForm', $(this));
            return false;
        });

        $(document).on('click', '.remove-relatedId-row', function(e){
            e.preventDefault();
            deleteForm('relatedIdForm', '.relatedId', $(this));
            return false;
        });

        $(document).on('click', '.shift-relatedId-up', function(e){
            e.preventDefault();
            moveForm('relatedIdForm', '.relatedId', $(this), -1);
            return false;
        });

        $(document).on('click', '.shift-relatedId-down', function(e){
            e.preventDefault();
            moveForm('relatedIdForm', '.relatedId', $(this), 1);
            return false;
        });

        $(document).ready(function() {
            console.log('Ready');
            updateAllChildrenIndices('.relatedId', 'relatedIdForm');
            return false;
        });

        // Funding ref add/remove/move buttons //
        $(document).on('click', '.add-fundingRef-row', function(e){
            e.preventDefault();
            cloneMore('.fundingRef', 'fundingRefForm', $(this));
            return false;
        });

        $(document).on('click', '.remove-fundingRef-row', function(e){
            e.preventDefault();
            deleteForm('fundingRefForm', '.fundingRef', $(this));
            return false;
        });

        $(document).on('click', '.shift-fundingRef-up', function(e){
            e.preventDefault();
            moveForm('fundingRefForm', '.fundingRef', $(this), -1);
            return false;
        });

        $(document).on('click', '.shift-fundingRef-down', function(e){
            e.preventDefault();
            moveForm('fundingRefForm', '.fundingRef', $(this), 1);
            return false;
        });

        $(document).ready(function() {
            console.log('Ready');
            updateAllChildrenIndices('.fundingRef', 'fundingRefForm');
            return false;
        });
    </script>
</head>
<body>
    <h1>Edit public metadata for {{ long_name }} ({{ site_id }})</h1>
    <div id="div-form-wrap">

    {% if forms_invalid.any %}
    <div class="form-error-box">
        {% if forms_invalid.common %}
        <p style="vertical-align: middle;"><img src="{% static 'img/error-icon.svg' %}" style="width: 2rem; vertical-align: middle;"/>There are errors in the common metadata form</p>
        {% endif %}
        {% if forms_invalid.doi %}
        <p style="vertical-align: middle;"><img src="{% static 'img/error-icon.svg' %}" style="width: 2rem; vertical-align: middle;"/>There are errors in the DOI metadata form</p>
        {% endif %}
    </div>
    {% endif %}


    <h2>Common metadata</h2>
    <p>The metadata in this first section will go into the public netCDF files and the DOI information.</p>

    <form action="{% url 'siteinfo:edit' site_id %}" method="post">
        {% csrf_token %}
        <table class="pretty-table form-table">
            {% if not can_edit_all %}
            <tr><td colspan="2" class="header">
                These fields cannot be edited here because they are expected to be persistent.
                Contact {{ contact }} if they require updating.</td></tr>
            {% for field, info in fixed_values.items %}
            <tr><th>{{ info.name }}</th><td class="fixed">{{ info.value }}</td></tr>
            {% endfor %}
            {% endif %}

            <!--<tr><td colspan="2" class="spacer"></td> </tr>-->
            <tr><td colspan="2" class="header">
                {% if can_edit_all %} Your user has permission to edit all fields. Most users cannot edit the
                field{{ std_fixed_fields.n|pluralize }} {{ std_fixed_fields.fields }}. If you change the DOI,
                be sure it matches the value assigned on tccondata.org. If you change the revision, be sure
                to update the netCDF files on tccondata.org.
                {% else %}These fields may be edited; note that they will not propagate to the public files
                until those files are next regenerated.{% endif %}</td> </tr>

            {{ netcdf_form.as_table }}

        </table>

        <br>

        <h2>DOI metadata</h2>
        <p>The metadata below is only contained in the DOI record for your site.</p>

        <div class="doi-metadata-section">Site description
            <table class="pretty-table form-table">
                <tr>
                    <th>{{ site_doi_form.site.label }}
                        {% if site_doi_form.site.help_text %}
                        <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                        <span class="tooltiptext">{{ site_doi_form.site.help_text }}</span></span>
                        {% endif %}
                    </th>
                    <td>{{ site_doi_form.site }}
                        {% for err in site_doi_form.site.errors %}
                        <p class="form-error-box">{{ err }}</p>
                        {% endfor %}
                    </td>

                    <th>{{ site_doi_form.location_latitude.label }}
                        {% if site_doi_form.location_latitude.help_text %}
                        <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                        <span class="tooltiptext">{{ site_doi_form.location_latitude.help_text }}</span></span>
                        {% endif %}
                    </th>
                    <td>{{ site_doi_form.location_latitude }}
                        {% for err in site_doi_form.location_latitude.errors %}
                        <p class="form-error-box">{{ err }}</p>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{{ site_doi_form.location_place.label }}
                        {% if site_doi_form.location_place.help_text %}
                        <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                        <span class="tooltiptext">{{ site_doi_form.location_place.help_text }}</span></span>
                        {% endif %}
                    </th>
                    <td>{{ site_doi_form.location_place }}
                        {% for err in site_doi_form.location_place.errors %}
                        <p class="form-error-box">{{ err }}</p>
                        {% endfor %}
                    </td>

                    <th>{{ site_doi_form.location_longitude.label }}
                        {% if site_doi_form.location_longitude.help_text %}
                        <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                        <span class="tooltiptext">{{ site_doi_form.location_longitude.help_text }}</span></span>
                        {% endif %}
                    </th>
                    <td>{{ site_doi_form.location_longitude }}
                        {% for err in site_doi_form.location_longitude.errors %}
                        <p class="form-error-box">{{ err }}</p>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>

        {{ creators_formset.management_form }}
        <div class="doi-metadata-section">Creators
        {% for form in creators_formset.forms %}
        <div class="form-row creator">
        <table class="pretty-table form-table">
            <tr>
                <td><span class="line-number">{{forloop.counter}}</span></td>

                <th>{{form.is_not_person.label}}
                    {% if form.is_not_person.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.is_not_person.help_text }}</span></span>
                    {% endif %}
                </th>
                <td>{{form.is_not_person}}</td>

                <th>{{form.family_name.label}}
                    {% if form.family_name.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.family_name.help_text }}</span></span>
                    {% endif %}
                </th>
                <td>{{form.family_name}}
                    {% for err in form.family_name.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                </td>

                <th>{{form.given_name.label}}
                    {% if form.given_name.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.given_name.help_text }}</span></span>
                    {% endif %}
                </th>
                <td>{{form.given_name}}
                    {% for err in form.given_name.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                </td>

                <th>{{form.orcid.label}}
                    {% if form.orcid.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.orcid.help_text }}</span></span>
                    {% endif %}
                </th>
                <td>{{form.orcid}}
                    {% for err in form.orcid.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td style="width: 9rem;">
                    <span class="tooltip"><img src="{% static 'img/add-button.svg' %}" class="line-img add-creator-row">
                    <span class="tooltiptext">Add a creator</span></span>

                    <span class="tooltip"><img src="{% static 'img/up-button.svg' %}" class="line-img shift-creator-up">
                    <span class="tooltiptext">Move this creator up</span></span>

                    <span class="tooltip"><img src="{% static 'img/down-button.svg' %}" class="line-img shift-creator-down">
                    <span class="tooltiptext">Move this creator down</span></span>

                    <span class="tooltip"><img src="{% static 'img/delete-button.svg' %}" class="line-img remove-creator-row">
                    <span class="tooltiptext">Delete this creator</span></span>
                </td>

                <th>{{form.affiliation.label}}
                    {% if form.affiliation.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.affiliation.help_text }}</span></span>
                    {% endif %}
                </th>
                <td colspan="3">{{form.affiliation}}
                    {% for err in form.affiliation.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                </td>

                <th>{{form.affiliation_id.label}}
                    {% if form.affiliation_id.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.affiliation_id.help_text }}</span></span>
                    {% endif %}
                </th>
                <td>{{form.affiliation_id}}
                    {% for err in form.affiliation_id.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                </td>

                <th>{{form.researcher_id.label}}
                    {% if form.researcher_id.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.researcher_id.help_text }}</span></span>
                    {% endif %}
                </th>
                <td>{{form.researcher_id}}
                    {% for err in form.researcher_id.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                </td>
            </tr>
        </table>
        </div>
        {% endfor %}
        </div>

        {{ contributors_formset.management_form }}
        <div class="doi-metadata-section">Contributors
        {% for form in contributors_formset.forms %}

        <div class="form-row contributor">
        <table class="pretty-table form-table">
            <tr>
                <td><span class="line-number">{{forloop.counter}}</span></td>

                <th>{{form.contributor_type.label}}
                    {% if form.contributor_type.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.contributor_type.help_text }}</span></span>
                    {% endif %}
                </th>
                <td>{{form.contributor_type}}
                    {% for err in form.contributor_type.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                </td>

                <th>{{form.family_name.label}}
                    {% if form.family_name.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.family_name.help_text }}</span></span>
                    {% endif %}
                </th>
                <td>{{form.family_name}}
                    {% for err in form.family_name.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                </td>

                <th>{{form.given_name.label}}
                    {% if form.given_name.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.given_name.help_text }}</span></span>
                    {% endif %}
                </th>
                <td>{{form.given_name}}
                    {% for err in form.given_name.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <td style="width: 9rem;">
                    <span class="tooltip"><img src="{% static 'img/add-button.svg' %}" class="line-img add-contributor-row">
                    <span class="tooltiptext">Add a contributor</span></span>

                    <span class="tooltip"><img src="{% static 'img/up-button.svg' %}" class="line-img shift-contributor-up">
                    <span class="tooltiptext">Move this contributor up</span></span>

                    <span class="tooltip"><img src="{% static 'img/down-button.svg' %}" class="line-img shift-contributor-down">
                    <span class="tooltiptext">Move this contributor down</span></span>

                    <span class="tooltip"><img src="{% static 'img/delete-button.svg' %}" class="line-img remove-contributor-row">
                    <span class="tooltiptext">Delete this contributor</span></span>
                </td>

                <th>{{form.is_not_person.label}}
                    {% if form.is_not_person.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.is_not_person.help_text }}</span></span>
                    {% endif %}
                </th>
                <td>{{form.is_not_person}}</td>

                <th>{{form.orcid.label}}
                    {% if form.orcid.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.orcid.help_text }}</span></span>
                    {% endif %}
                </th>
                <td>{{form.orcid}}
                    {% for err in form.orcid.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                </td>

                <th>{{form.researcher_id.label}}
                    {% if form.researcher_id.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.researcher_id.help_text }}</span></span>
                    {% endif %}
                </th>
                <td>{{form.researcher_id}}
                    {% for err in form.researcher_id.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <td></td>
                <th>{{form.affiliation.label}}
                    {% if form.affiliation.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.affiliation.help_text }}</span></span>
                    {% endif %}
                </th>
                <td colspan="3">{{form.affiliation}}
                    {% for err in form.affiliation.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                </td>

                <th>{{form.affiliation_id.label}}
                    {% if form.affiliation_id.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.affiliation_id.help_text }}</span></span>
                    {% endif %}
                </th>
                <td>{{form.affiliation_id}}
                    {% for err in form.affiliation_id.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                </td>
            </tr>
        </table>
        </div>
        {% endfor %}
        </div>

        {{ relatedIdentifiers_formset.management_form }}
        <div class="doi-metadata-section">Related Identifiers
            {% for form in relatedIdentifiers_formset.forms %}
            <div class="form-row relatedId">
            <table class="pretty-table form-table">
                <tr>
                    <td><span class="line-number">{{forloop.counter}}</span></td>
                    <th>{{form.relation_type.label}}
                        {% if form.relation_type.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.relation_type.help_text }}</span></span>
                    {% endif %}
                    </th>
                    <td>{{form.relation_type}}
                        {% for err in form.relation_type.errors %}
                        <p class="form-error-box">{{ err }}</p>
                        {% endfor %}
                    </td>

                    <th>{{form.related_identifier_type.label}}
                        {% if form.related_identifier_type.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.related_identifier_type.help_text }}</span></span>
                    {% endif %}
                    </th>
                    <td>{{form.related_identifier_type}}
                        {% for err in form.related_identifier_type.errors %}
                        <p class="form-error-box">{{ err }}</p>
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <td style="width: 9rem;">
                        <span class="tooltip"><img src="{% static 'img/add-button.svg' %}" class="line-img add-relatedId-row">
                        <span class="tooltiptext">Add a related ID</span></span>

                        <span class="tooltip"><img src="{% static 'img/up-button.svg' %}" class="line-img shift-relatedId-up">
                        <span class="tooltiptext">Move this ID up</span></span>

                        <span class="tooltip"><img src="{% static 'img/down-button.svg' %}" class="line-img shift-relatedId-down">
                        <span class="tooltiptext">Move this ID down</span></span>

                        <span class="tooltip"><img src="{% static 'img/delete-button.svg' %}" class="line-img remove-relatedId-row">
                        <span class="tooltiptext">Delete this ID</span></span>
                    </td>
                    <th>{{form.related_identifier.label}}
                        {% if form.related_identifier.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.related_identifier.help_text }}</span></span>
                    {% endif %}
                    </th>
                    <td colspan="3">{{form.related_identifier}}
                        {% for err in form.related_identifier.errors %}
                        <p class="form-error-box">{{ err }}</p>
                        {% endfor %}
                    </td>
                </tr>
            </table>
            </div>
            {% endfor %}
        </div>

        {{ FundingReference_formset.management_form }}
        <div class="doi-metadata-section">Funding references
            {% for form in FundingReference_formset.forms %}
            <div class="form-row fundingRef">
            <table class="pretty-table form-table">
                <tr>
                    <td><span class="line-number">{{forloop.counter}}</span></td>

                    <th>{{form.funder_name.label}}
                        {% if form.funder_name.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.funder_name.help_text }}</span></span>
                    {% endif %}
                    </th>
                    <td>{{form.funder_name}}
                        {% for err in form.funder_name.errors %}
                        <p class="form-error-box">{{ err }}</p>
                        {% endfor %}
                    </td>

                    <th>{{form.funder_identifier_type.label}}
                        {% if form.funder_identifier_type.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.funder_identifier_type.help_text }}</span></span>
                    {% endif %}
                    </th>
                    <td>{{form.funder_identifier_type}}
                    {% for err in form.funder_identifier_type.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                    </td>

                    <th>{{form.funder_identifier.label}}
                        {% if form.funder_identifier.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.funder_identifier.help_text }}</span></span>
                    {% endif %}
                    </th>
                    <td>{{form.funder_identifier}}
                    {% for err in form.funder_identifier.errors %}
                    <p class="form-error-box">{{ err }}</p>
                    {% endfor %}
                    </td>
                </tr>

                <tr>
                    <td style="width: 9rem;">
                        <span class="tooltip"><img src="{% static 'img/add-button.svg' %}" class="line-img add-fundingRef-row">
                        <span class="tooltiptext">Add a related ID</span></span>

                        <span class="tooltip"><img src="{% static 'img/up-button.svg' %}" class="line-img shift-fundingRef-up">
                        <span class="tooltiptext">Move this ID up</span></span>

                        <span class="tooltip"><img src="{% static 'img/down-button.svg' %}" class="line-img shift-fundingRef-down">
                        <span class="tooltiptext">Move this ID down</span></span>

                        <span class="tooltip"><img src="{% static 'img/delete-button.svg' %}" class="line-img remove-fundingRef-row">
                        <span class="tooltiptext">Delete this ID</span></span>
                    </td>

                    <th>{{form.award_number.label}}
                        {% if form.award_number.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.award_number.help_text }}</span></span>
                    {% endif %}
                    </th>
                    <td>{{form.award_number}}
                        {% for err in form.award_number.errors %}
                        <p class="form-error-box">{{ err }}</p>
                        {% endfor %}
                    </td>

                    <th>{{form.award_uri.label}}
                        {% if form.award_uri.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.award_uri.help_text }}</span></span>
                    {% endif %}
                    </th>
                    <td>{{form.award_uri}}
                        {% for err in form.award_uri.errors %}
                        <p class="form-error-box">{{ err }}</p>
                        {% endfor %}
                    </td>

                    <th>{{form.award_title.label}}
                        {% if form.award_title.help_text %}
                    <span class="tooltip midline"><img src="{% static 'img/help-icon.svg' %}" class="line-img">
                    <span class="tooltiptext">{{ form.award_title.help_text }}</span></span>
                    {% endif %}
                    </th>
                    <td>{{form.award_title}}
                        {% for err in form.award_title.errors %}
                        <p class="form-error-box">{{ err }}</p>
                        {% endfor %}
                    </td>
                </tr>

                {% if form.non_field_errors %}
                <tr><td colspan="7">
                    Errors:
                    <ul>
                    {% for err in form.non_field_errors %}
                    <li>{{ err }}</li>
                    {% endfor %}
                    </ul>
                </td></tr>
                {% endif %}
            </table>
            </div>
            {% endfor %}
        </div>

        <br>
        <div class="cr">
        <button type="submit" class="link-button">Submit changes</button>
        </div>
    </form>

    <br>
    <div class="cr">
        <form action="{% url 'siteinfo:index' %}"><button type="submit" class="link-button">Back to main</button></form>
    </div>
    <br>
    </div>
</body>
</html>
