<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit {{ citation_name }} BibTeX for {{ site_id }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/opstat.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'js/bibtex.js' %}"></script>
    <script type='text/javascript'>
        $(document).ready(function() {
            console.log('Ready');
            var type_select = document.getElementById("citation_type");
            changeFormType(type_select.value);

            var submit_buttons = document.getElementsByClassName("submit-bibtex");
            for (var i=0; i<submit_buttons.length; i++) {
                submit_buttons[i].disabled = true;
            }
        });
    </script>
</head>
<body>
    <h1>Edit {{ citation_name }} BibTeX for {{ site_id }}</h1>
    <div id="div-form-wrap">
    <label for="citation_type">Choose the citation type</label>
    <select name="citation_type" id="citation_type" onchange="changeFormType(this.value)">
        {% for bibtype, ddtype in form_type_mapping.items %}
        <option value="{{ bibtype }}">{{ ddtype|capfirst }}</option>
        {% endfor %}
    </select>

    {% for bibtype, form in form_types.items %}
    <div class="bibtex-form" id="bibtex-form-{{bibtype}}">
        <h2>{{ form.dropdown_type | capfirst }}</h2>
        <form action="{% url 'siteinfo:editbib' site_id citation %}" method="post" id="form-{{bibtype}}">
            {% csrf_token %}
            <table class="pretty-table form-table">
                {{ form.as_table }}
            </table>

            <br>
            <p>Below is how this citation will be rendered on the site information page and in the netCDF and/or DOI
            metadata. Use the "Regenerate" button to regenerate this from the BibTeX information. The submission
            button will be disabled until you either regenerate the text or use the "Unlock submit" button to
            allow submission with the existing text.</p>
            <textarea id="{{bibtype}}-text-citation" name="{{bibtype}}-text-citation">{{ form.text_citation }}</textarea>
            <br>
            <input type="button" name="regenerate" value="Regenerate" class="link-button"
                   onclick="regenerateTextCitation('{{bibtype}}', '{{text_citation_url}}')">
            <input type="button" name="unlock-submit" value="Unlock submit" class="link-button"
                   onclick="unlockSubmitButton('{{bibtype}}')">

            <br>
            <div class="cr">
                <button type="submit" class="link-button submit-bibtex" id="submit-{{bibtype}}">Submit changes</button>
            </div>
        </form>
    </div>
    {% endfor %}
    </div>
</body>
</html>