<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit public metadata for {{ site_id }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/opstat.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'js/formset.js' %}"></script>
    <script type='text/javascript'>
        // Creator add/remove/move buttons //
        $(document).on('click', '.add-creator-row', function(e){
            e.preventDefault();
            cloneMore('.creator:last', 'creatorsForm');
            return false;
        });

        $(document).on('click', '.remove-creator-row', function(e){
            e.preventDefault();
            deleteForm('creatorsForm', '.creator', $(this));
            return false;
        });

        // Contributor add/remove/move buttons //
        $(document).on('click', '.add-contributor-row', function(e){
            e.preventDefault();
            cloneMore('.contributor:last', 'contributorsForm');
            return false;
        });

        $(document).on('click', '.remove-contributor-row', function(e){
            e.preventDefault();
            deleteForm('contributorsForm', '.contributor', $(this));
            return false;
        });
    </script>
</head>
<body>
    <h1>Edit public metadata for {{ long_name }} ({{ site_id }})</h1>

    <div id="div-form-wrap">
    <h2>Common metadata</h2>
    <p>The metadata in this first section will go into the public netCDF files and the DOI information.</p>

    <form action="{% url 'siteinfo:edit' site_id %}" method="post">
        {% csrf_token %}
        <table class="pretty-table form-table">
            {% if not can_edit_all %}
            <tr><td colspan="2" class="header">
                These fields cannot be edited here because they are expected to be persistent.
                Contact {{ contact }} if they require updating.</td></tr>
            {% for field, info in fixed_values.items %}
            <tr><th>{{ info.name }}</th><td class="fixed">{{ info.value }}</td></tr>
            {% endfor %}
            {% endif %}

            <!--<tr><td colspan="2" class="spacer"></td> </tr>-->
            <tr><td colspan="2" class="header">
                {% if can_edit_all %} Your user has permission to edit all fields. Most users cannot edit the
                field{{ std_fixed_fields.n|pluralize }} {{ std_fixed_fields.fields }}. If you change the DOI,
                be sure it matches the value assigned on tccondata.org. If you change the revision, be sure
                to update the netCDF files on tccondata.org.
                {% else %}These fields may be edited; note that they will not propagate to the public files
                until those files are next regenerated.{% endif %}</td> </tr>

            {{ form.as_table }}

        </table>

        <br>

        <h2>DOI metadata</h2>
        <p>The metadata below is only contained in the DOI record for your site.</p>

        {{ creators_formset.management_form }}
        <div class="doi-metadata-section">Creators
        {% for form in creators_formset.forms %}
        <div class="form-row creator">
        <table class="pretty-table form-table">
            <tr>
                <td><span class="line-number">{{forloop.counter}}</span></td>
                <th>{{form.family_name.label}}</th><td>{{form.family_name}}</td>
                <th>{{form.given_name.label}}</th><td>{{form.given_name}}</td>
                <th>{{form.orcid.label}}</th><td>{{form.orcid}}</td>
            </tr>
            <tr>
                <td style="width: 9rem;">
                    <span class="tooltip"><img src="{% static 'img/add-button.svg' %}" class="line-img add-creator-row">
                    <span class="tooltiptext">Add a creator</span></span>

                    <span class="tooltip"><img src="{% static 'img/up-button.svg' %}" class="line-img">
                    <span class="tooltiptext">Move this creator up</span></span>

                    <span class="tooltip"><img src="{% static 'img/down-button.svg' %}" class="line-img">
                    <span class="tooltiptext">Move this creator down</span></span>

                    <span class="tooltip"><img src="{% static 'img/delete-button.svg' %}" class="line-img remove-creator-row">
                    <span class="tooltiptext">Delete this creator</span></span>
                </td>
                <th>{{form.affiliation.label}}</th><td colspan="3">{{form.affiliation}}</td>
                <th>{{form.researcher_id.label}}</th><td>{{form.researcher_id}}</td>
            </tr>
        </table>
        </div>
        {% endfor %}
        </div>

        {{ contributors_formset.management_form }}
        <div class="doi-metadata-section">Contributors
        {% for form in contributors_formset.forms %}

        <div class="form-row contributor">
        <table class="pretty-table form-table">
            <tr>
                <td><span class="line-number">{{forloop.counter}}</span></td>
                <th>{{form.contributor_type.label}}</th><td>{{form.contributor_type}}</td>
                <th>{{form.family_name.label}}</th><td>{{form.family_name}}</td>
                <th>{{form.given_name.label}}</th><td>{{form.given_name}}</td>
                <th>{{form.orcid.label}}</th><td>{{form.orcid}}</td>
            </tr>
            <tr>
                <td style="width: 9rem;">
                    <span class="tooltip"><img src="{% static 'img/add-button.svg' %}" class="line-img add-contributor-row">
                    <span class="tooltiptext">Add a contributor</span></span>

                    <span class="tooltip"><img src="{% static 'img/up-button.svg' %}" class="line-img">
                    <span class="tooltiptext">Move this contributor up</span></span>

                    <span class="tooltip"><img src="{% static 'img/down-button.svg' %}" class="line-img">
                    <span class="tooltiptext">Move this contributor down</span></span>

                    <span class="tooltip"><img src="{% static 'img/delete-button.svg' %}" class="line-img remove-contributor-row">
                    <span class="tooltiptext">Delete this contributor</span></span>
                </td>
                <th>{{form.affiliation.label}}</th><td colspan="5">{{form.affiliation}}</td>
                <th>{{form.researcher_id.label}}</th><td>{{form.researcher_id}}</td>
            </tr>
        </table>
        </div>
        {% endfor %}
        </div>

        <br>
        <div class="cr">
        <button type="submit" class="link-button">Submit changes</button>
        </div>
    </form>

    <br>
    <div class="cr">
        <form action="{% url 'siteinfo:index' %}"><button type="submit" class="link-button">Back to main</button></form>
    </div>
    <br>
    </div>
</body>
</html>
