<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCCON public metadata - landing page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/opstat.css' %}">
</head>
<body>

    {% if user.is_authenticated %}
    <p>You are logged in as <strong>{{ user.get_username }}</strong>.<br>
       <a href="{% url 'logout' %}?next={% url 'siteinfo:index' %}">Log out</a></p>
    {% else %}
    <p>You are not logged in.<br>
       <a href="{% url 'login' %}?next={% url 'siteinfo:index' %}">Log in.</a></p>
    {% endif %}

    <p>To generate BibTeX citations and a LaTeX table of TCCON sites,
       <a href="{% url 'siteinfo:gentex' %}">click here.</a></p>

    <table class="pretty-table">
        {% if has_sites %}
        <tr><th colspan="5">Your sites</th></tr>
        <tr><th>Site ID</th><th>Site Name</th><th>Public metadata</th><th>BibTeX citations</th><th>Release flags</th></tr>
        {% for site in sites_can_edit %}
        <tr>
            <td>{{ site.id }}</td>
            <td>{{ site.name }}</td>
            <!--<td><a href="{% url 'siteinfo:view' site.id %}">View</a></td>-->
            <td class="centered">
                <form action="{% url 'siteinfo:view' site.id %}"><button type="submit" class="link-button">View</button></form>
                <form action="{% url 'siteinfo:edit' site.id %}"><button type="submit" class="link-button">Edit</button></form>
            </td>
            <td>
                <form action="{% url 'siteinfo:editbib' site.id 'siteref'%}"><button type="submit" class="link-button">Site reference</button></form>
                <form action="{% url 'siteinfo:editbib' site.id 'dataref'%}"><button type="submit" class="link-button">Data reference</button></form>
            </td>
            <td class="centered">
                <form action="{% url 'siteinfo:flags' site.id %}">
                    <button type="submit" class="link-button">{% if can_edit_flags %} View/Edit {% else %} View {% endif %}</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% endif %}

        {% if has_sites and has_other_sites %}
        <tr><td colspan="4" class="spacer"></td></tr>
        <tr><th colspan="4">Other sites</th></tr>
        {% endif %}

        {% if has_other_sites %}
        <tr><th>Site ID</th><th>Site Name</th><th>Public metadata</th><th>Release flags</th></tr>
        {% for site in sites_cannot_edit %}
        <tr>
            <td>{{ site.id }}</td>
            <td>{{ site.name }}</td>
            <td class="centered">
                <form action="{% url 'siteinfo:view' site.id %}"><button type="submit" class="link-button">View</button></form>
            </td>
            <td class="centered">
                <form action="{% url 'siteinfo:flags' site.id %}"><button type="submit" class="link-button">View</button></form>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

</body>
</html>