<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Release flags for {{ site_id }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/opstat.css' %}">
</head>
<body>
    <h1>Release flags for {{ long_name }} ({{ site_id }})</h1>

    {% if msg %}
    <div class="alert">{{ msg }}</div>
    {% endif %}

    {% if has_flags %}
    <table class="pretty-table">
        <tr>
            <th></th>
            <th>Start date</th>
            <th>End date</th>
            <th>Flag code</th>
            <th>Flag name</th>
            <th>Comment</th>
            <th>Plot</th>
            {% if can_edit_flags %}<th></th><th></th>{% endif %}
        </tr>
        {% for flag in flags %}
        <tr>
            <th>{{ flag.meta.n }}</th>
            <td>{{ flag.meta.start_date }}</td>
            <td>{{ flag.meta.end_date }}</td>
            <td>{{ flag.info.value }}</td>
            <td>{{ flag.info.name }}</td>
            <td>{{ flag.info.comment }}</td>
            <td>
                {% if flag.meta.plot_path %}
                <a href="{% static flag.meta.plot_path %}"><img src="{% static flag.meta.plot_path %}" style="max-height: 100px; max-width: 200px;"/></a>
                {% endif %}
            </td>
            {% if can_edit_flags %}
            <td><form action="{% url 'siteinfo:editflags' site_id flag.meta.n_str %}">
            <button type="submit" class="link-button">Edit</button>
            </form></td>
            <td><form method="post" action="{% url 'siteinfo:deleteflags' site_id flag.meta.n_str %}" onsubmit="return confirm('Do you really want to delete flag {{ flag.meta.n }} for {{ site_id }}?')">
            {% csrf_token %}
            <button type="submit" class="link-button">Delete</button>
            </form></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="cr">No release flags for this site.</div>
    {% endif %}

    <br>
    <div class="cr">
        {% if can_edit_flags %}
        <form action="{% url 'siteinfo:editflags' site_id 'new' %}"><button type="submit" class="link-button">Add new flagged time period</button></form>
        {% endif %}
        <form action="{% url 'siteinfo:index' %}"><button type="submit" class="link-button">Back to main</button></form>
    </div>
</body>
</html>