/* Used "Legacy" from https://wdexplorer.com/20-examples-beautiful-css-typography-design/
   as a starting point. */

a,a:visited {
    color: #93291b;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline
}

h1 {
    font-family: 'Enriqueta', arial, serif;
    line-height: 1.25;
    margin: 0 0 10px;
    font-size: 40px;
    font-weight: bold;
}

h1 a,

h1 a:visited {
    color: #333333
}

h1 a:hover {
    color: #93291b;
    text-decoration: none;
}

body {
   font-family: "Helvetica Neue",Arial,sans-serif;
   font-size: 16px;
   font-weight: 300;
   line-height: 1.5625;
}

p {
    color: #333333;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5625;
    margin-bottom: 15px;
}

th {
    color: #333333;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5625;
}

td {
    color: #333333;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5625;
}

.pretty-table {
    border-collapse: collapse;
    border-top: 10px;
    margin: 0 auto;
}

.pretty-table tr:nth-child(odd) {
    background-color: #ffd15e;
}

.pretty-table tr:nth-child(even) {
    background-color: #fff8e8;
}

.pretty-table td {
    padding: 10px;
}

.pretty-table th {
    background-color: #ffad73;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.pretty-table tr:last-child {
    border-bottom: 2px solid black;
}

.pretty-table .spacer {
    background-color: #ffffff;
    border-top: 2px solid black;
}

.form-table td {
    border-top: 2px solid black;
}

.form-table .header {
    background-color: #ddd;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.form-table .fixed {
    font-weight: 900;
}

.form-table input,textarea {
    width: 500px;
}

.link-button {
    color: #333333;
    background-color: #ffad73;
    padding: 0.25em 1em;
    border-radius: 8px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5625;
    transition-duration: 0.4s;
    cursor: pointer;
}

.link-button:hover {
    background-color: #ffffff;
}

.centered {
    text-align: center;
}

.cr {
    width: 100%;
    text-align: center;
}

.news {
    width: 90%;
    margin: 0 auto;
    color: #333333;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5625;
    border: 2px solid black;
}

.news .head {
    background-color: #ffad73;
    text-align: center;
    font-weight: 600;
    padding: 5px 10px;
    border-bottom: 1px solid black;
}

.news .msg {
    background-color: #ffd15e;
    padding: 5px 10px;
}

.news .author {
    background-color: #fff8e8;
    text-align: right;
    font-weight: 600;
    padding: 10px 30px 5px 5px;
}