<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    <style>
        .flex-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .form-el {
            margin: 16px;
        }
    </style>

    <style>
        .question-grid {
            display: grid;
            grid-template-rows: auto auto;
            grid-auto-flow: column;
            margin: 1rem;
        }

        .date-grid-cell {
            grid-area: span 2 / span 1;
        }
    </style>
</head>
</head>
<body>
    {% if qcform.non_field_errors %}
    <p>The following general errors must be corrected:</p>
    <!-- Not sure what this looks like, don't have any non-field errors currently -->
    {{ qcform.non_field_errors }}
    {% endif %}

  {% if qcform.errors %}
  <p>One or more fields have errors:</p>
  <ul>
    {% for key, err_list in qcform.errors.items %}
      {% for err in err_list %}
        <li><a href="#id_{{key}}">{{ err }}</a> </li>
      {% endfor %}
    {% endfor %}
  </ul>
  {% endif %}

  <form action="{% url 'qcform:edit' %}" method="post">
      {% csrf_token %}
      <input type="hidden" id="form_id" name="form_id" value="{{ form_id }}">
      <h2>Preface</h2>
      {% for preface in qcform.preface %}
          <table>
              {% for question in preface.questions %}
              {% for field in question.mcs %}
              <tr>
                  <th>{{ field.label }}:</th>
                  {% if field.name == "reviewer" %}
                  <td>{{ field.value }}</td>
                  <input type="hidden" id="id_reviewer" name="reviewer" value="{{ field.value }}">
                  {% else %}
                  <td>
                      {{ field }}
                      {% if field.errors %}
                      <p>ERROR:</p>
                      <ul>
                        {% for err in field.errors %}
                        <li>{{ err }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                  </td>
                  {% endif %}
              </tr>
              {% endfor %}
              {% endfor %}
          </table>
      {% endfor %}

      {% for section in qcform.sections_no_preface %}
      <h2>{{ section.name }}</h2>
        {{ section.intro }}
        {% for question in section.questions %}
            <div>
                <h3>{{ question.title }}</h3>
                <p>{{ question.message }}</p>
                {% for field in question.mcs %}
                <div>
                    <p>{{ field.label }}: {{ field }}</p>
                    {% if field.errors %}
                      <p>ERROR:</p>
                      <ul>
                        {% for err in field.errors %}
                        <li>{{ err }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                </div>
                {% endfor %}

                <!-- Date range or individual dates section. Table is:
                Period                    | 1    | 2    | 3    | ...
                Approx. start/Approx date | s1   | s2   | s3   | ...
                                          | errs | errs | errs | ...
                Approx. end               | e1   | e2   | e3   | ...
                                          | errs | errs | errs | ...
                -->
                {% if question.whens %}
                <div><table>
                    <tr>
                        <th>Period</th>
                        {% for period in question.whens %}
                            <td>{{ forloop.counter }}</td>
                        {% endfor %}
                    </tr>

                    {% if question.whens_type == 'paired' %}
                        <tr>
                            <th>Approx. start</th>
                            {% for period in question.whens %}
                                <td>
                                    {{ period.0 }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th></th>
                            {% for period in question.whens %}
                                <td>
                                    {% for err in period.0.errors %}
                                    <p>ERROR: {{ err }}</p>
                                    {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th>Approx. end</th>
                            {% for period in question.whens %}
                                <td>
                                    {{ period.1 }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th></th>
                            {% for period in question.whens %}
                                <td>
                                    {% for err in period.1.errors %}
                                    <p>ERROR: {{ err }}</p>
                                    {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            <th>Approx. date</th>
                            {% for period in question.whens %}
                            <td>
                                {{ period.0 }}
                            </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th></th>
                            {% for period in question.whens %}
                            <td>
                                {% for err in period.0.errors %}
                                    <p>ERROR: {{ err }}</p>
                                {% endfor %}
                            </td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                </table></div>
                {% endif %}

                <!-- End time periods table-->

                {% for field in question.cmts %}
                <div>
                    {{field.label}}: {{field}}

                    {% if field.errors %}
                      <p>ERROR:</p>
                      <ul>
                        {% for err in field.errors %}
                        <li>{{ err }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                </div>
                {% endfor %}
            </div>
        {% endfor %}
      {% endfor %}

      <button type="submit">Save form</button>
      <button type="submit" formaction="{% url 'qcform:savedraft' %}" formnovalidate>Save draft</button>
      <button type="submit" formaction="{% url 'qcform:index' %}" formmethod="get">Back to main</button>
  </form>

</body>
</html>