<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCCON QA/QC Forms</title>
  {% load tz %}
</head>
<body>
  {% if user.is_authenticated %}
  <p>You are logged in as <strong>{{ user.get_username }}</strong>.<br>
     <a href="{% url 'logout' %}?next={% url 'qcform:index' %}">Log out</a></p>
  {% else %}
  <p>You are not logged in.<br>
     <a href="{% url 'login' %}?next={% url 'qcform:index' %}">Log in.</a></p>
  {% endif %}

  {% if message %}
  <div>
    {% if message == 'success' %}
    Successfully saved QC form.
    {% elif message == 'deleted' %}
    Successfully deleted QC form.
    {% endif %}
  </div>
  {% endif %}

  {% if is_auth %}
  <h2>My reports</h2>
  <table id="myReportsTable">
    <tr>
      <th colspan="3">Actions</th>
      <th onclick="sortTable(3, 'myReportsTable', -2)">Reviewer</th>
      <th onclick="sortTable(4, 'myReportsTable', -2)">Site</th>
      <th onclick="sortTable(5, 'myReportsTable', -2)">netCDF files</th>
      <th onclick="sortTable(6, 'myReportsTable', -2)">Last modified</th>
    </tr>
    <tr class="skipsorting"><td><a href="{% url 'qcform:edit' %}">New form</a></td><td></td><td></td></tr>
    {% for row in my_reports %}
    <tr>
      <td><a href="{% url 'qcform:edit' row.id %}">Edit</a></td>
      <td><a href="{% url 'qcform:pdf' row.id %}">Get PDF</a></td>
      <td><form action="{% url 'qcform:delete' row.id %}" method="post">{% csrf_token %}<button type="submit">Delete</button></form> </td>
      <td>{{ row.user }}</td>
      <td>{{ row.site }}</td>
      <td>{{ row.nc_files }}</td>
      <td>{{ row.mod_time }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <h2>{% if is_auth %}Other reports{% else %}Reports{% endif %}</h2>
  <table id="otherReportsTable">
    <tr>
      <th colspan="1">Actions</th>
      <th onclick="sortTable(1, 'otherReportsTable')">Reviewer</th>
      <th onclick="sortTable(2, 'otherReportsTable')">Site</th>
      <th onclick="sortTable(3, 'otherReportsTable')">netCDF files</th>
      <th onclick="sortTable(4, 'otherReportsTable')">Last modified</th></tr>
    {% for row in other_reports %}
    <tr>
      <td><a href="{% url 'qcform:pdf' row.id %}">Get PDF</a></td>
      <td>{{ row.user }}</td>
      <td>{{ row.site }}</td>
      <td>{{ row.nc_files }}</td>
      <td>{{ row.mod_time }}</td>
    </tr>
    {% endfor %}
  </table>

  <script>
  // Taken pretty much wholesale from https://www.w3schools.com/howto/howto_js_sort_table.asp
  function sortTable(n, table_id, header_offset = 0) {
    var table, rows, switching, i, j, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById(table_id);
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < (rows.length - 1); i++) {

        if (rows[i].className == "skipsorting") {
          // This will both avoid sorting rows that should stay in place
          // and avoid and error if those rows are shorter than the main table rows.
          continue;
        }

        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];

        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }

    /* Finally, add a triangle to the end of the column name so we know it is sorted */
    let headers = rows[0].getElementsByTagName("TH");
    let tri_up = " ▲";
    let tri_down = " ▼";
    let h = "";
    for (j = 0; j < headers.length; j++) {
      // Clear any existing triangle
      h = headers[j].innerHTML.replace(tri_up, '').replace(tri_down, '');
      // Add back the triangle if this is the column we sorted
      if (j == n + header_offset && dir == "asc") {
        h = h + tri_down;
      }else if (j == n + header_offset && dir == "desc") {
        h = h + tri_up;
      }
      headers[j].innerHTML = h;
    }
  }
  </script>
</body>
</html>